{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styling %}
    {% endblock styling %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        form{
            display: inline;
        }
        #query{
            width: 12vw;
            background-color: rgba(255, 255, 255, 0.937);
        }
        #items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        #item {
            margin-left: 6%;
        }
        
    </style>
</head>
<body>

    <div class="main">
        <nav style="width: 90%;">
            <span id="name">Cinemania.</span>
            <span id="items" style="width: 80%;">
                <span id="item" style="margin-left: 6%;"><a class="navelt" href="{% url 'blog-home' %}">HOME</a></span>

                {% if user.is_authenticated %}
                <span id="item">
                    <form id="logoutform" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="navelt" id="navbtn">LOGOUT</button>
                    </form>
                    <!-- <a class="navelt" href="{% url 'logout' %}">LOGOUT</a> -->
                </span>
                <span id="item"><a href="{% url 'create-review' %}" class="navelt">WRITE REVIEW</a></span>
                <span id="item"><a class="navelt" href="{% url 'profile' %}">PROFILE</a></span>

                {% else %}
                <span id="item"><a class="navelt" href="{% url 'register' %}">SIGNUP</a></span>
                <span id="item"><a class="navelt" href="{% url 'login' %}">LOGIN</a></span>

                {% endif %}
                <form method="get" action="/search">
                    <span id="item"><input name="query" id="query" type="text" placeholder="Search" width="50"></span>
                    <!-- <button type="submit" id="searchbtn"></button> -->
                </form>
            </span>   
        </nav>
        {% block content %}
        {% endblock content %}
    </div>
    
    
</body>
</html>