{% extends "blog/base.html" %}

{% block styling %}
    <style>
        .profileheading {
            color: white;
        }
        img {
            width: 20%;
            height: 20%;
            border-radius: 50px;
            border: 2px solid white;
        }
        .head {
            position: absolute;
            top: 20%;
            left: 10%;
            display: flex;
        }
        .sections {
            position: absolute;
            top: 40%;
            left: 15%;
        }
        .sec {
            background-color: rgb(210, 210, 210);
            width: 15vw;
            margin: 6%;
            padding: 6%;
            font-size: 150%;
        }
        .sec a {
            text-decoration: none;
            color: black; 
        }
        .sec:hover {
            background-color: rgb(180, 180, 180); 
        }
    </style>
{% endblock styling %}

{% block content %}

<div class="head">
    <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s profile picture">
    <h1 class="profileheading">{{ user.username }}</h1>
</div>

<div class="sections">
    <div class="sec"><a href="{% url 'view_watchlist' %}">Your WatchList &ensp;></a></div>
    <div class="sec">Your Reviews &ensp;></div>
    <div class="sec">Your Favourites &ensp;></div>
</div>

{% endblock content %}
